@model IEnumerable<Pedido>
@{
    ViewData["Title"] = "ReporteTrimestral";
}

<h1>ReporteTrimestral</h1>

<form asp-controller="Reportes" asp-action="ReporteTrimestral" method="get">
    <div class="form-group">
        <label for="trimestre">Trimestre:</label>
        <select class="form-control" name="trimestre" id="trimestre">
            <option value="1">Primero</option>
            <option value="2">Segundo</option>
            <option value="3">Tercero</option>
            <option value="4">Cuarto</option>
        </select>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostoSinIVA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostoTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto!.Nombre)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostoSinIVA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostoTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto!.Nombre)
                </td>
            </tr>
        }
    </tbody>
</table>
